<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DiputadosArg</title>
</head>
<body>
	<h1>DiputadosArg</h1>
	<p>Este es un proyecto open-source que busca crear y mantener actualizada un API REST con la información dispionible en el sitio <a href="http://www.diputados.gov.ar">www.diputados.gov.ar</a> en cuanto a la planta actual de diputados nacionales, sus proyectos y presentismo.</p>
	<p>La idea es agregar a futuro las votaciones por diputado.</p>
	<p>Mucha de la informacion relevante en el sitio <a href="http://www.diputados.gov.ar">www.diputados.gov.ar</a> se encuentra en formato PDF que dificulta el acceso a los datos de forma programática. Primero es necesario extraer los datos, para estos casos utilizo la herramienta <em>TABULA</em> (<a href="https://github.com/tabulapdf/tabula">https://github.com/tabulapdf/tabula</a>)</p>
	<p>Los datos disponibles en las paginas HTML se obtienen mediante tecnicas de scrapping de datos.</p>
	<p>Utilizo el lenguaje PYTHON y el framework Django.</p>
</body>
</html>